<footer><!-- fontawsome 5 doc https://fontawesome.com/v5/docs/web/style/size-->
    <div class="container d-flex">
        <!-- LinkedIn SVG -->
        <a class="text-white socials" target="_blank" aria-label="Regis Raffin on LinkedIn" href="https://www.linkedin.com/in/r%C3%A9gis-raffin-090a0759/?originalSubdomain=fr">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="32" height="32" fill="currentColor">
                <path d="M100.28 448H7.4V148.9h92.88zm-46.44-340C24 108 0 84 0 56.5S24 5 53.84 5 107.6 29 107.6 56.5 83.68 108 53.84 108zM447.9 448h-92.68V302.4c0-34.7-12.4-58.4-43.46-58.4-23.7 0-37.8 16-44 31.4-2.3 5.4-2.9 12.9-2.9 20.5V448h-92.68s1.2-236.2 0-260.1h92.68v36.9c-.2.3-.5.7-.7 1h.7v-1c12.3-19 34.3-46.1 83.5-46.1 60.9 0 106.7 39.7 106.7 125.1V448z"/>
            </svg>
        </a>

        <!-- Vimeo SVG -->
        <a class="text-white socials" target="_blank" aria-label="Regis Raffin on Vimeo" href="https://vimeo.com/regisraffin">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="32" height="32" fill="currentColor">
                <path d="M447.7 135.7c-1.5 32.9-24.5 77.9-69.1 135.9-46.2 60.2-85.2 90.3-116 90.3-19.6 0-36.1-18.1-49.4-54.2-9.3-30.9-18.6-61.8-27.9-92.6-11.6-38.7-23.5-58.1-35.6-58.1-5.6 0-13.1 6.1-22.4 18.3-9.2 12.2-14.7 23.1-16.5 32.7-2.7 14.1-3.5 28.2-2.5 42.4 1.7 22.3 11.1 34.4 27 36.3 17.6 2.1 34.9-8.2 51.9-30.7 17-22.6 30.2-44.8 40.5-66.5 11.2-23.2 18.8-37.3 23-42.3 10.2-11.8 20.6-17.6 31.4-17.6 9.4 0 14 6.9 14.1 20.7 0 11.3-1 22.2-2.9 32.7-2.6 14.3-10.6 35-23.9 62.1-15.9 31.9-28.2 53.9-37.9 65.7-17.7 22.8-32.8 34.2-46.1 34.2-7.3 0-13.5-5.4-18.6-16.2-4.9-10.8-7.5-21.5-7.8-32.3-.4-17.7 4.3-34.9 14.1-51.5 9.6-16.1 21.9-25.8 36.8-28.9 12.5-2.4 25.6.2 39.2 7.5 13.6 7.3 20.4 18.3 20.5 33.1z"/>
            </svg>
        </a>

        <!-- Instagram SVG -->
        <a class="text-white socials" target="_blank" aria-label="Regis Raffin on Instagram" href="https://www.instagram.com/regis_raffin/?hl=fr">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="32" height="32" fill="currentColor">
                <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9S160.5 370.8 224.1 370.8 339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.4 0-74.9-33.5-74.9-74.9s33.5-74.9 74.9-74.9 74.9 33.5 74.9 74.9-33.5 74.9-74.9 74.9zm146.4-194.3c0 14.9-12.1 27-27 27s-27-12.1-27-27 12.1-27 27-27 27 12.1 27 27zm76.1 27.2c-.1-54.7-44.5-99.1-99.1-99.1H99.1C44.5 64.4.1 108.8 0 163.5v185c.1 54.7 44.5 99.1 99.1 99.1h248.3c54.6-.1 99-44.5 99.1-99.1v-185zM398.8 373c0 30.8-25.1 55.9-55.9 55.9H105.1c-30.8 0-55.9-25.1-55.9-55.9V149c0-30.8 25.1-55.9 55.9-55.9h237.8c30.8 0 55.9 25.1 55.9 55.9v224z"/>
            </svg>
        </a>
    </div>
    <div class="container d-flex mb-4 pt-2">
        <!-- <a class="discrete-link" href="/privacy-policy.html">Privacy Policy</a> -->
    </div>
</footer>
<!-- Bootstrap JS
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<!-- zoom vanilla js  -->
<script src="/js/zoom-vanilla.min.js" defer></script>
