<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Régis Raffin</title>

        <!-- SEO -->
        <meta name="description" content="Regis Raffin - Film Director">
        <meta name="keywords" content="film director, regis raffin portfolio, persha, persha music, shadow gambit, clandestino MANU CHAO CALYPSO ROSE">
        <link rel="canonical" href="https://www.regisraffin.com">
        <meta name="google-site-verification" content="ZaosV2kywRdcrVkXsRkLP2uOrycZejvHRipya_cYuiQ">

        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="https://site-regis.s3.eu-west-3.amazonaws.com/public/img-divers/favicon_23.svg">

        <!-- Preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://player.vimeo.com">

        <!-- Fonts -->
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" onload="this.rel='stylesheet'">
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        </noscript>

        <!-- BOOTSTRAP 5 CSS -->
        <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" onload="this.rel='stylesheet'">
        <noscript>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        </noscript>

        <!-- CSS principal -->
        link rel="stylesheet" href="/public/css/style.min.css?v=7">
        <!-- <link rel="stylesheet" href="/public/css/style.css?v=7"> -->

        <!-- CSS secondaires lazy-loaded -->
        <link rel="stylesheet" href="/public/css/responsive.min.css?v=5" media="print" onload="this.media='all'">
        <!--<link rel="stylesheet" href="https://site-regis.s3.eu-west-3.amazonaws.com/public/css/zoom.min.css?v=1" media="print" onload="this.media='all'">-->
        <link rel="stylesheet" href="/css/zoom.min.css" media="print" onload="this.media='all'">
        
        <!-- JS -->
        <script src="/public/js/menu.js" async></script>
    </head>

    <body>
        <header>
            <nav>
                <div class="container d-flex nav1 mt-3 mb-2">
                    <h1>regis raffin</h1>
                    <a href="/">
                        <img 
                            id="logo" 
                            src="https://site-regis.s3.eu-west-3.amazonaws.com/public/img-divers/LOGO_regis.png" 
                            width="500" 
                            height="309" 
                            alt="logo" 
                            loading="eager"
                            fetchpriority=high
                        >
                    </a>
                    <h2>film director</h2>
                </div>
                <div class="container-fluid mb-4">
                    <ul class="nav2 d-flex">
                        <li><a href="/">all</a></li>
                        <li><a href="/animation">animation</a></li>
                        <li><a href="/liveaction">live-action</a></li>
                        <li><a href="/about">about</a></li>
                    </ul>
                </div>
            </nav>
        </header>
