<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Régis Raffin</title>
        <!-- SEO -->
        <meta name="description" content="Regis Raffin - Film Director">
        <!--<link rel="canonical" href="#">-->
        <meta name="google-site-verification" content="" />
        <!--BOOTSTRAP 5-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- CSS  public/css/style.css-->
        <link rel="stylesheet" href= "https://site-regis.s3.eu-west-3.amazonaws.com/public/css/style.min.css">
        <link rel="stylesheet" href="https://site-regis.s3.eu-west-3.amazonaws.com/public/css/responsive.min.css" media="print" onload="this.media='all'; this.onload=null;">
        <link rel="stylesheet" href="https://site-regis.s3.eu-west-3.amazonaws.com/public/css/zoom.min.css" media="print" onload="this.media='all'; this.onload=null;">
        <!-- JS -->
        <script src="https://site-regis.s3.eu-west-3.amazonaws.com/public/js/menu.js" async></script>
        <!-- test loader js
        <script src="public/js/menu.js"></script>-->
        <!--FAVICON-->
        <link rel="icon" type="image/x-icon" href="https://site-regis.s3.eu-west-3.amazonaws.com/public/img-divers/favicon-regis.svg">
        <!-- POLICE - Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" media="print" onload="this.media='all'; this.onload=null;">
       <!--FONTAWESOME 5 CDN-->
       <script src="https://kit.fontawesome.com/5d934be3de.js" crossorigin="anonymous" async></script>
       
        <!-- CHECK DEVICE TYPE  -->

        <script>
            let detectDeviceType = () =>
                /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
                    ? 'Mobile'
                    : 'Desktop';
                console.log(detectDeviceType()); 

            if (detectDeviceType() === 'Desktop'){
                // append Js file to html file :
                const script = document.createElement('script');
                script.src = 'https://site-regis.s3.eu-west-3.amazonaws.com/public/js/thumbnail.js';  

                document.head.appendChild(script);

            } else {
                const script = document.createElement('script');
                script.src = 'https://site-regis.s3.eu-west-3.amazonaws.com/public/js/remove_vids.js' //public/js/remove_vids.js';  

                document.head.appendChild(script);
            }
        </script>
    </head>
    <body>
        <header>
            <nav>
            <!-- NAV 1 -->
                <div class="container d-flex nav1 mt-3">
                    <h1>regis raffin</h1><img id='logo' src="https://site-regis.s3.eu-west-3.amazonaws.com/public/img-divers/LOGO_regis.png" width="500" height="309" alt="logo"><h2>film director</h2>
                </div>
            <!-- NAV 2 -->
                <div class="container-fluid mb-4">
                    <ul class="nav2 d-flex">
                        <li><a href="/">all</a></li>
                        <li><a href="/animation">animation</a></li>
                        <li><a href="/liveaction">live-action</a></li>
                        <li><a href="/about">about</a></li>
                    </ul>
                </div>
            </nav>
        </header>