# Node build artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment
.env
.DS_Store
.vscode/

# Logs
logs/
*.log

# Optional npm cache
.npm

# Coverage reports
coverage/

# Optional temporary files
*.tmp
*.swp

# others
/views/privacy-policy.ejs
ancien-about.ejs

# scripts
convert_s3_webp.sh

# Images originales / WebP
images_projets_originaux/
images_projets_webp/

thumbnails_local/
thumbnails_webp/