<%- include('partials/header.ejs') %>

<body>
    <div class="container">
        <img class="img-fluid mb-4" id="portrait" src="public/img-divers/about.jpg" alt="portrait régis raffin">
        <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra turpis et maximus euismod. Cras et euismod eros. Integer erat mauris, suscipit vel pellentesque vitae, suscipit ut sapien. Ut id magna id dolor pretium pharetra nec ac nunc. Donec tortor nulla, vehicula sit amet nibh et, iaculis aliquet nisl. Ut tempus enim ac scelerisque tempor. </p>
        <p class="about">I am currently living in Paris.</p>
        <p class="about">rage.raffin@gmail.com</p>
        <p class="text-center" id="button-email"><a href="mailto:rage.raffin@email.com">say hi</a></p>
    </div>
</body>

<%- include('partials/footer.ejs') %>
