<%- include('partials/header.ejs') %>
        <main>
            <!-- LOADER 
            <div id="loader" class="center"></div>-->
            <div class="container d-flex mt-4">

                <div class="container about-wrapper">
                    <img class="img-fluid mb-4" id="portrait" src="https://site-regis.s3.eu-west-3.amazonaws.com/public/img-divers/about.jpg" width="1831" height="1097" alt="portrait régis raffin">
                    <p class="about">Hi hello. My name is Regis Raffin. Born in the 80's, I was raised half by my parents and also half by a star wars VHS, Super Sentais on TV, and the early Nintendo consoles. </p>
                    <p class="about">I fell in love with telling stories with films at 10 years old and soon decided to dedicate my life to it. For more than 15 years I directed all kinds of live action and animated projects, then a few years ago I finally decided to join the holy land of nerds, the video game industry, where I now work as a cinematic director.</p>
                    <p class="about">I love to bring unique, fun and emotional concepts to life and wake up the inner child that lies in all of us. I love to collaborate with great people, wherever they come from on the solar system.</p>
                    <p class="about">I am currently living in Paris.</p>
                    <p class="about">rage.raffin@gmail.com</p>
                    <p class="text-center about mt-4" id="button-email"><a href="mailto:rage.raffin@gmail.com">say hi</a></p>
                </div>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>


