<%- include('partials/header.ejs') %>

<body>
    <br><br>
    <div class="container">
        <p class="text-center">HERE insert video:id from DB</p>
        <div id="animation-video">
            <video src=""></video>
        </div>
        <div>
            <p class="text-center">Insert TITLE from DB</p>
            <p class="text-center">Insert SUB-TITLE1 from DB</p>
            <p class="text-center">Insert SUB-TITLE2 from DB</p>
            <p class="text-center">Insert SUB-TITLE3 from DB</p>
        </div>

        <br><br><br><br>

        <div class="row">
            <div class="col"><p class="text-center">Insert IMG1 from DB</p></div>
            <div class="col"><p class="text-center">Insert IMG2 from DB</p></div>
        </div>
        <div class="row">
            <div class="col"><p class="text-center">Insert DESCRIPTION from DB</p></div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col"><p class="text-center">Insert IMG3 from DB</p></div>
            <div class="col"><p class="text-center">Insert IMG4 from DB</p></div>
            <div class="col"><p class="text-center">Insert IMG5 from DB</p></div>
        </div>
        <div class="row">
            <div class="col"><p class="text-center">Insert DESCRIPTION2 from DB</p></div>
        </div>
        <br><br><br><br>

        <div class="row">
            <div class="col"><p class="text-center">Insert IMG6 from DB</p></div>
            <div class="col"><p class="text-center">Insert IMG7 from DB</p></div>
        </div>


    </div>
</body>


<%- include('partials/footer.ejs') %>
