<%- include('partials/header_backoff.ejs') %>
<br><br>
        <div class="container mt-5">

            <form action="" id="auth-form">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-10">

                        <div class="card bg-dark text-white text-center card-body p-5" style="border-radius: 1rem;">
                            
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                        
                                <div class="mb-4">
                                    <label class="form-label" for="username">Username</label>
                                    <input type="text" id="username" name="username" class="form-control form-control-lg" />
                                </div>
                
                                <div class="mb-4">
                                    <label class="form-label" for="user_pwd">Password</label>
                                    <input type="password" id="user_pwd" name="user_pwd" class="form-control form-control-lg" />
                                </div>
                
                                <p class="small mb-5 "><a class="text-white-50" href="#!">Forgot password?</a></p>
                
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            
                        </div>

                    </div>
                </div>
            </form>
            
        </div>
    </body>
</html>