<%- include('partials/header_backoff.ejs') %>
<br><br>
      <div class="container mt-4">
          <h1>(créer page d'Authentification à l'espace admin plus tard</h1>
      </div>
      <%- include('partials/footer_backoff.ejs') %>
    </body>
</html>