<%- include('partials/header.ejs') %>
<body>

  
    <main>
        <!-- THUMBNAILS GALLERY -  EJS & MONGODB -->
        <div class="container-fluid d-flex g-0">
            
            <div class="row gx-0">
    
                <% thumbnailsList.forEach(thumbnail => {%>

                    <div class="col-md-4 d-flex"> <!-- rajouter class title si titres par dessus video -->
                        <a class="d-flex" href="/<%= thumbnail._id %>">
                            <video class="w-100 h-100" autoplay playsinline muted loop width="1200" height="496" src="<%= thumbnail.videoSrc %>"></video>
                        </a>
                    </div>
      
                <%})%>
            
            </div>
            
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>