<%- include('partials/header_backoff.ejs') %>

<div class="container">

    <h2>Liste thumbnails</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Thumbnail</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% thumbnailsList.forEach(thumbnail => {%>
            <tr>
                <td scope="row"><%= thumbnail.title %></td>
                <td><button type="button" class="btn btn-light"><a href="/admin/updateThumbnail">Update</a></button></td>
                <td><button type="button" class="btn btn-light">Delete</button></td>
            </tr>
            <%})%>
        </tbody>
    </table>

    <br>


    <h2>Liste projets</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% projectsList.forEach(project => {%>
            <tr>
                <td scope="row"><%= project.project_title %></td>
                <td><button type="button" class="btn btn-light"><a href="/admin/updateProject">Update</a></button></td>
                <td><button type="button" class="btn btn-light">Delete</button></td>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>

