    <%- include('partials/header_backoff.ejs') %>
        <main>
            <div class="container mt-5 text-white">
                <h1 style="color : red"><strong>EN CONSTRUCTION</strong></h1>
                <br><br>

                <div>
                    <h1><strong>Ajouter un nouveau projet</strong></h1>
                </div>

                <br><br>


        </main>
        <%- include('partials/footer_backoff.ejs') %>
    </body>
</html>