/* Medium -> xlarge */
@media only screen and (min-width : 768px) and (max-width : 2600px){
    ul{
        margin-top: 0;
        margin-bottom: 0.6rem;
    }
    nav{
        line-height: 1.2;
    }
    .project-wrapper{
        margin: 0 100px;
    }
}

/* small -> medium */
@media only screen and (min-width : 481px) and (max-width : 767px)
{
    /* ABOUT */
    p.about{
        font-size: 0.6em;
    }
    .about-wrapper{
        width: 60vw;
    }
}

/* titres thumbails apparents sur tablette ->  paysage */
@media only screen and (min-device-width : 320px) and (max-device-width : 1200px){

    h3.thumbnail_title{
        opacity: 1;
    }
}


/* smartphones & tabl */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
    /* NAV */
    nav h1{
        font-size: 1.5em;
    }
    nav h2{
        font-size: 1em;
    }
    nav li a{
        font-size: 0.8em!important;
    }
    #logo{
        width: 30px;
        height: auto;
    }
    .nav2 a{
        margin: 5px;
        font-size: 0.9em;
    } 
    /* no title effect on mobile*/
    h3.thumbnail_title{
        opacity: 1;
    }
} 
/* Smartphones (portrait and landscape)*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
    /* no title effect on mobile*/
    h3.thumbnail_title{
        opacity: 1;
    }
    /* ABOUT */
    p.about{
        font-size: 0.5em;
    }
    .about-wrapper{
        width: 70vw;
    }
    h1.project_title{
        font-size: 12px;
    }
    p.project{
        font-size: 10px;
    }
}

/*https://media-queries.aliasdmc.fr/media-queries-live.php*/