*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color : black;
    font-size: 12px;
}
h1, h2, h3, p, span{
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* NAV */
h1, h2, h3 {
    text-transform: uppercase;
}
nav h1{
    font-size: 1.7em;
}
nav h2{
    font-weight: 400;
    font-size: 1.1em;
}
.nav1, .nav2{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px; 
}
nav li:nth-child(-n+3){
    text-transform: uppercase;
}
nav li:nth-child(4){
    text-transform: capitalize;
}
nav li a{
    text-decoration: none; 
    color: white;
    font-size: 0.9em;
    margin: 5px;
}
li{
    list-style-type: none;
}
nav li a:hover, nav li a:focus { 
    color:rgba(147, 183, 227, 0.851);
}
.current{
    color:rgba(147, 183, 227, 0.851);
}
.nav1>h1,.nav1>img, .nav1>h2{
    margin: 0.4em;
}
#logo{
    width: 33px;
    height: auto;
    margin: 0 5px;
}
/* à revoir*/
ul {
    padding: 0!important;
}


/* MAIN */


#loader {
    border: 12px solid #f3f3f3;
    opacity: 0.6;
    border-radius: 50%;
    border-top: 12px solid black;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



/* THUMBNAILS WITH TITLES & HOVER EFFECT */

/* (Done with JS)

.thumbnail_img{
    transition-duration: 2s;
}
.thumbnail_img:hover{
    opacity: 0.5;
    transition-duration: all 2s;
}*/

.title{
    position: relative;
}
h3.thumbnail_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 90;

    font-weight: 300;
    letter-spacing: 2px;
    opacity: 0;
    transition: 1s;
    /*white-space: nowrap;*/

}
.hidden{
    display: none;
}

/* FOOTER */

footer .d-flex{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
footer i{
    opacity: 0.6;
    margin: 8px;
}
footer i:hover{
    opacity: 1;
    transition-duration: 1s;
}

/* PAGE ABOUT */
.about{
    margin-bottom: 30px;
}
#button-email>a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    background-color: rgb(134, 170, 144);
    color: black;
    padding: 0.5em 1.1em;
}
#button-email>a:hover{
    background-color: rgb(191, 213, 197);
    transition-duration: 1s;
}
p.about {
    font-size: 1em;
    text-align: justify;
}

/* PAGE PROJET */

h1.project_title{
    text-transform: uppercase;
    font-size: 14px;
}
p{
    margin-bottom: 0.4em;
}
.video-iframe{
    position: relative; 
    overflow: hidden; 
    padding-top: 56.25%; 
}
.resp-iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
  }

