*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color : black;
    position: relative;
    height: 100vh;
}
h1, h2, h3, p, span{
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* NAV */
.nav1, .nav2{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px; 
}
nav li:nth-child(-n+4){
    text-transform: uppercase;
}
nav li:nth-child(5){
    text-transform: capitalize;
}
nav li a{
    text-decoration: none; 
    color: white;
    font-size: 0.8vw;
    margin: 0.5vw;
}
li{
    list-style-type: none;
}
nav li a:hover{
    color:rgba(147, 183, 227, 0.851);
}
.current{
    color:rgba(147, 183, 227, 0.851);
}
.nav1>h1,.nav1>img, .nav1>h2{
    margin: 0.5vw;
}
/* à revoir*/
ul {
    padding: 0!important;
}

/*Form upload 2*/
#uploadFormProject{
    margin-bottom: 100px;
}
hr{
    border: solid 2px white;
}
.section-reference{
    width: 300px;
    height:auto;
}


/* FOOTER */
footer .d-flex{
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
footer a{
    margin: 15px;
}

/*
footer i{
    opacity: 0.6;
    margin: 8px;
}
footer i:hover{
    opacity: 1;
    transition-duration: 1s;
}
*/

/* AUTH PAGE */
#auth-form{
    min-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* UPLOADTHUMBNAIL PAGE */
#uploadFormThumb, #uploadFormProject{
    width: 60%;
    margin-top: 100px;

}


/* form validation message */
.validation-message{
    visibility: hidden;
}